/* Define the default arrow styles */
.slick-prev,
.slick-next {
    font-size: 0; /* Hide the default text */
    line-height: 0; /* Hide the default text */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    cursor: pointer;
    color: #000; /* Cor padrão das setas */
    border: none;
    background: transparent;
}

/* Estilo para a seta anterior */
.slick-prev:before {
    font-size: 20px;
    color: gray; /* Mude a cor aqui */
}

.slick-next:before {
    font-size: 20px;
    color: gray;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}
